[Desktop Entry]
Type=Application
Name=Les Adventures de Marie Terese
Comment=Adventure game
Exec=LesAdventuresDeMarieTerese
Icon=com.endlessm.marie_therese.fr
Categories=Game;ActionGame;
