[Desktop Entry]
Type=Application
Name=Marie-Thérèse
Comment=Adventure game
Exec=LesAdventuresDeMarieTerese
Icon=com.endlessm.marie_therese.fr
Categories=Game;ActionGame;
